main {
  padding-top: 50px;
}

.answer-box {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.answer-box div {
  border: solid 2px rgb(219, 219, 219);
  width: 60px;
  height: 60px;
  margin-right: 10px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  30% {
    transform: translate(50px, 0);
  }
  50% {
    transform: translate(0, 50px);
  }
  70% {
    transform: rotate(90deg);
  }
}

.animate {
  animation: bounce 0.5s ease;
}
